.nav-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between; 
  padding: 0;
  margin: 0;
}

nav li {
  padding: 10px; 
}
.nav-blue {
    background: lightsteelblue;
}
.nav {
    list-style: none;
}
.nav a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: white;
      list-style: none;
}
.nav-left {
    flex: 3;
    list-style: none;
      flex-direction: row;
}

.nav-right {
    flex: 3;
      list-style: none;
      flex-direction: row;
}
/*start table here*/
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: left;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  
  * {
    box-sizing: border-box;
  }
  body,hr {
    margin: 0;
    display: grid;
    background-color: white;
    font-family: "Poppins", sans-serif;
  }
  
  .education {
    width: min(500px, 95vw);
  }
  .education__heading {
    padding-inline-start: 4rem;
  }
  .education__heading h4 {
    font-size: 2rem;
    margin-block: 0.5rem;
  }
  .education__content {
    position: relative;
    padding: 1rem 1rem 1rem 4rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  .education__content h5 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1rem;
    margin-block: 0;
  }
  .education__content p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0;
  }
  .education__content .year {
    position: absolute;
    content: var(--year);
    width: 2rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    color: white;
    border-radius: 50%;
    background-color: #333;
    box-shadow: inset 0 0 0 1px white;
    border: 1px solid #333;
    left: 1rem;
    top: 0.74rem;
  }
  .education__content:hover {
    background-color: rgba(230, 230, 230, 0.48);
    border-radius: 0.25rem;
  }
  .education__content:not(:last-child):before {
    position: absolute;
    content: "";
    width: 4px;
    background-color: #333;
    left: calc(2rem - 2px);
    top: 2.74rem;
    bottom: -0.74rem;
    z-index: 1;
  }
  